@import "tailwindcss";

:root {
  --background: #9EDDEF;
  --foreground: #001233;
  --card-background: #ffffff;
  --text-primary: #001233;
  --text-secondary: #023E7D;
  --text-accent: #023E7D;
}

.dark {
  --background: #010E27;
  --foreground: #9EDDEF;
  --card-background: #1a1a2e;
  --text-primary: #9EDDEF;
  --text-secondary: #FFFFFF;
  --text-accent: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Plus Jakarta Sans', sans-serif;
}
